@use "../../styles/variables" as *;

.about-text {
    margin: 2rem;
    font-size: $font-size-extra-small;
    font-family: $font-primary;
    color: $color-black;
}

@media screen and (min-width: 1450px) {
    .about-text {
        font-size: $font-size-small;
    }
}