@use "../../styles/variables" as *;

.headline {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5rem 0 10rem 0;

  &__container {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem;
    z-index: 1;

    &--text {
      width: 80%;
      padding: 1rem;
      border-radius: 0.2rem;
      position: relative;
      text-align: center;

      .headline__header--main {
        font-size: $font-size-large;
        z-index: 2;
        position: relative;
      }

      .headline__header--secondary {
        font-size: $font-size-medium;
        margin: 0.5rem 0;
        z-index: 1;
      }

      .headline__text-dec {
        color: $color-dark-green;
      }

      .headline__link {
        z-index: 1;
      }
    }

    &--img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .headline__portrait {
      height: 20rem;
      width: auto;
      box-shadow: $box-shadow;
      border-radius: 1rem;
      z-index: 1;
    }
  }

  &__container--arrow {
    position: absolute;
    bottom: 3rem;
  }

  &__dec {
    width: 100%;
    height: 39%;
    position: absolute;
    background-color: $color-light-grey;
    bottom: 0;
  }
}

@media (min-width: 730px) {
  .headline__container {
    flex-direction: row;
    width: 90%;
    height: 28rem;
    margin-top: 4rem;

    &--text {
      text-align: left;
      width: 50%;

      .headline__header--main {
        font-size: $font-size-extra-large;
      }

      .headline__header--secondary {
        font-size: $font-size-large;
      }

      .headline__header-dec {
        background-color: $color-teal;
        position: absolute;
        height: 2rem;
        width: 18.5rem;
        top: 2.5rem;
        z-index: 1;
      }

      .headline__header-dec--btm {
        width: 17rem;
        top: 6.2rem;
        z-index: 1;
      }
    }

    &--img {
      width: 50%;
      height: 100%;

      .headline__decoration--top {
        height: 30rem;
        width: 8rem;
        position: absolute;
        top: 0;
        background-color: $color-teal;
        border-radius: 0.2rem;
        box-shadow: $box-shadow;
      }

      .headline__decoration--bottom {
        height: 20rem;
        width: 15rem;
        position: absolute;
        right: 0;
        background-color: $color-navy;
        border-radius: 0.2rem;
        box-shadow: $box-shadow;
      }

      .headline__portrait {
        position: absolute;
        height: 25rem;
        width: 21rem;
        border-radius: 2rem;
      }
    }
  }
}

@media (min-width: 900px) {
  .headline__container {
    width: 80%;
  }
}

@media (min-width: 1600px) {
  .headline__container {
    width: 70%;
  }

  .headline__dec {
    height: 23rem;
  }

  .headline__decoration--bottom {
    right: -2rem !important;
  }
}
