@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$color-white: #ececec;
$color-bright-white: #ffffff;
$color-orange: #df5505;
$color-black: #0f0f0f;
$color-electric-blue: #2bef92;
$color-blue: #1fa4ea;
$color-dark-blue: #11122A;
$color-red: #b85042;
$color-light-olive: #e7e8d1;
$color-teal: #a7beae;
$color-light-green: #B2E5C3;
$color-dark-green: #41876D;
$color-dark-grey: #3D4046;
$color-grey: #b0b3b8;
$color-light-grey: #cdd6db;
$color-navy: #404B61;

// Font-family
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Font size:
$font-size-largest: 4rem;
$font-size-extra-large: 3rem;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;
$font-size-extra-small: 0.85rem;
$font-size-smallest: 0.8rem;

// Box shadow
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-bold: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-subtle: rgba(0, 0, 0, 0.16) 0px 1px 4px;