@use "../../styles/variables" as *;

.contact {
    display: flex;
    position: relative;

    &__decoration--left {
        position: absolute;
        left: 0;
        height: 16rem;
        width: 17.2rem;
        background-color: $color-blue;
        box-shadow: $box-shadow;
        transform: skew(-5deg, -5deg);
    }

    &__decoration--right {
        position: absolute;
        right: 0;
        height: 16rem;
        width: 17.2rem;
        background-color: $color-electric-blue;
        box-shadow: $box-shadow;
        transform: skew(-5deg, -5deg);
    }
}

@media screen and (max-width: 605px) {
    .contact__decoration--left {
        height: 12rem;
        width: 12rem;
    }

    .contact__decoration--right {
        height: 12rem;
        width: 12rem;
    }
}

@media screen and (max-width: 450px) {
    .contact__decoration--left {
        display: none;
    }

    .contact__decoration--right {
        display: none;
    }
}