@use "../../styles/variables" as *;

.header-small {
    display: flex;
    position: relative;
    width: 18rem;
    padding-top: 3rem;

    &__header {
        font-size: $font-size-extra-large;
        font-family: $font-primary;
        z-index: 1;
    }

    &__decoration--left {
        height: 5rem;
        width: 6rem;
        background-color: $color-blue;
        position: absolute;
        right: 2rem;
        top: 2.7rem;
        box-shadow: $box-shadow;
    }

    &__decoration--right {
        height: 5rem;
        width: 6rem;
        background-color: $color-electric-blue;
        position: absolute;
        right: 0.5rem;
        top: 2rem;
        box-shadow: $box-shadow;
    }
}