@use "../../styles/variables" as *;

.contact-info {
  font-size: $font-size-small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    .contact-info__icon {
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: 430px) {
  .contact-info {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      margin: 1rem 1.5rem;
    }
  }
}
