@use "../../styles/variables" as *;

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: $box-shadow;
  width: 12rem;
  height: 11rem;

  &__image {
    height: 5rem;
    width: auto;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: $font-size-medium;
    color: $color-dark-grey;
  }
}

#green {
  background-color: $color-teal;
}

#blue {
    background-color: $color-light-grey;
}
