@use "../../styles/variables" as *;

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    &__image {
        height: 6rem;
        width: auto;
        padding: 0 1.4rem;
        margin-bottom: 1rem;
    }

    &__text {
        font-family: $font-primary;
        font-size: $font-size-medium;
        color: $color-dark-grey;
    }
}

@media screen and (max-width: 622px) {
    .skill{
        margin-bottom: 3rem;
    
        &__image {
            height: 10rem;
        }
    }
}