@use "../../styles/variables" as *;

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    height: 10vh;

    &__img {
        height: 3rem;
        width: auto;
        padding: 0 1rem;
        cursor: pointer;
    }
}