@use "../../styles/variables" as *;

.layout {
    background-color: $color-white;

    &__main {
        position: relative;
        background-color: $color-bright-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }
}

@media (min-width: 1150px) {
    .layout__main {
        width: 85%;        
        box-shadow: $box-shadow-bold;
        margin: auto;
    }    
}

@media (min-width: 1300px) {
    .layout__main {
        width: 75%;        
        box-shadow: $box-shadow-bold;
        margin: auto;
    }    
}